# Exclude unnecessary files
**/test/*
**/docs/*
**/examples/*
**/benchmarks/*
.vscode/
node_modules/.bin
node_modules/**/*.md
node_modules/**/*.ts
node_modules/**/*.map
node_modules/**/*.yml
node_modules/**/*.json